@inherits LayoutComponentBase

  @*<div class="sidebar">
        <NavMenu />
    </div>
  *@
<div class="main">
  <div class="top-row px-4">
    <div class="col-2 mx-auto">
    </div>
    <div class="mx-auto col-8 d-flex justify-content-center ">
      <a class="mx-2" href="/">Home</a>
      <a class="mx-2" href="http://blazor.net" target="_blank">About</a>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <a class="mx-2" href="/register">Register</a>
      <a class="mx-2" href="/login">Login</a>
    </div>
  </div>


  <div class="content px-4">
    @Body
  </div>
</div>
